#hs_header{
padding-top: 12rem;
}



.ta-c{
    text-align: center;
}

li{
    text-align: center;
    font-size: 2rem;
}

#go_home{
    cursor: pointer;
}

ul{
    /* border: grey 2px solid; */
    padding: ;
    border-radius: 10px;
    background-color: white;
}